.contenedor{
    display: grid;
    grid-gap: 20px;
    height: 700px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);

    /*Alinea horizontalmente*/
    justify-content: space-evenly;

    /*Alinea verticalmente*/
    align-content: space-evenly;

    /*Nota: Puedes usar los valores: normal, start, center, end, space-around, space-between, space-evenly*/
}